body {
    color: black;
    background-color: lavender;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px; 
    }


h1 {
    color: indianred;
}

h2 {
    color: hotpink;
}

a {
    color: purple;
}

ul.a {
    list-style-type: circle;
}

.flex-container {
    display: flex;
    text-align: center;
    align-items: stretch;
    width: 500px;
    height: 250px;    
}

.flex-item {
    background-color: lightcyan;
    width: 250px;
    margin: 15px;
}

table {
    text-align: center;
    display: inline-table;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 2px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

th {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: center;
}

div.flex {
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    
}